@use "./mixins/mixins.scss" as *;
@use "./mixins/utils.scss" as *;
@use "./common/var.scss" as *;
@use "./mixins/button" as *;

@include b(button) {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-weight: $button-font-weight;
  line-height: 1;
  color: $button-default-font-color;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  background: $button-default-background-color;
  border: $border-base;
  border-color: $button-default-border-color;
  outline: none;
  vertical-align: middle;
  box-sizing: border-box;
  transition: 0.1s;
  appearance: none;
  @include utils-user-select(none);

  & + & {
    margin-left: 10px;
  }

  @include button-size(
    $button-padding-vertical,
    $button-padding-horizontal,
    $button-font-size,
    $button-border-radius
  );

  &:hover,
  &:focus {
    color: $color-primary;
    background-color: $color-primary-light-9;
    border-color: $color-primary-light-7;
  }

  &:active {
    color: mix($color-black, $color-primary, $button-active-shade-percent);
    border-color: mix(
      $color-black,
      $color-primary,
      $button-active-shade-percent
    );
    outline: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  & [class*="k-icon-"] {
    & + span {
      margin-left: 5px;
    }
  }

  /* round */
  @include when(round) {
    border-radius: $button-border-radius-round;
  }

  /* circle */
  @include when(circle) {
    padding: $button-padding-vertical;
    border-radius: $button-border-radius-circle;
  }

  /* disabled */
  @include when(disabled) {
    &,
    &:hover,
    &:focus {
      color: $button-disabled-font-color;
      cursor: not-allowed;
      background-image: none;
      border-color: $button-disabled-border-color;
      background-color: $button-disabled-background-color;
    }
  }

  /* size */
  @include m(small) {
    @include button-size(
      $button-small-padding-vertical,
      $button-small-padding-horizontal,
      $button-small-font-size,
      $button-small-border-radius
    );
    @include when(circle) {
      padding: $button-small-padding-vertical;
    }
  }
  @include m(large) {
    @include button-size(
      $button-large-padding-vertical,
      $button-large-padding-horizontal,
      $button-large-font-size,
      $button-large-border-radius
    );
    @include when(circle) {
      padding: $button-large-padding-vertical;
    }
  }

  /* type */
  @include m(primary) {
    @include button-variant(
      $button-primary-font-color,
      $button-primary-background-color,
      $button-primary-border-color
    );
  }
  @include m(success) {
    @include button-variant(
      $button-success-font-color,
      $button-success-background-color,
      $button-success-border-color
    );
  }
  @include m(info) {
    @include button-variant(
      $button-info-font-color,
      $button-info-background-color,
      $button-info-border-color
    );
  }
  @include m(danger) {
    @include button-variant(
      $button-danger-font-color,
      $button-danger-background-color,
      $button-danger-border-color
    );
  }
  @include m(warning) {
    @include button-variant(
      $button-warning-font-color,
      $button-warning-background-color,
      $button-warning-border-color
    );
  }
}
